.barraDeAnucio{
    display: flex;
    align-items: center;
    justify-content: center;
}
.anuncio{
    width: 100%;
    height: 25px;
    color: rgb(0, 0, 0);
    background-color: aliceblue;
    font-size: 18px;
    vertical-align: middle;
}
.anuncio p{
    animation: slide-loop 20s infinite;
    overflow: hidden;
    white-space: nowrap;
}
  
  @keyframes slide-loop {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }