*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
}

.barra_promocoes{
    display: flex;
    justify-content: center;
}
.promocoes{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 95%;
    height: 500px;
    background-color: #585858;
    border-radius: 25px;
}
.logoBlack{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    height: 100%;
}
.promocaoCamisa{
    font-size: 35px;
    color: azure;
    text-align: center;
}
.camisa{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 70%;
    background-color: azure;
    border-radius: 15px;

}
.blackFriday {
    font-size: 60px;
    font-weight: bold;
    animation: colorAnim 10s infinite;
}

@keyframes colorAnim {
    0% {
        color: red;
    }
    25% {
        color: orange;
    }
    50% {
        color: yellow;
    }
    75% {
        color: green;
    }
    100% {
        color: blue;
    }
}