.barraInformacoes{
    background-color: beige;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

}
.barraInformacoes .titulo{
    font-size: 15px;
    opacity: 0.9;
}
.barraInformacoes .descricao{
    font-size: 12px;
    opacity: 0.9;
}
.informacoesIcones{
    width: 100px;
}

.comoPagar{
   display: flex;
   flex-flow: column nowrap;
   align-items: center;
   justify-content: center;
   text-align: center;
   width: 170px;
   height: 200px;
   padding-top: 15px;
   padding-bottom: 15px;
}

.fretes{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 170px;
    height: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.seguranca{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 170px;
    height: 200px;
    padding-top: 15px;
    padding-bottom: 15px;
}


