*{
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
}
body{
    width: 100%;
    background-color: #000000;
}


.barra_principal{
    display: flex;
    justify-content: center;
    padding: 5px 0px 5px 0px;
}
/*Cabecalho*/
.cabecalho{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 95%;
    height: 50px;
    background-color: #585858;
    border-radius: 150px;
}
/*Cabecalho parte-1*/
.parte-1{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    padding-left: 10px;
}
.logo{
    width: 30px;
    height: 30px;
    border-radius: 25px;
}
.home{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-radius: 150px;
    width: 60px;
    height: 30px;
    a{
        color: azure;
    }
}
.contatos{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-radius: 150px;
    width: 80px;
    height: 30px;
    a{
        color: azure;
    }
}
.blog{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    border-radius: 150px;
    width: 50px;
    height: 30px;
    a{
        color: azure;
    }
}
/*Cabecalho parte-2*/
.parte-2{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    width: 390px;
    height: 30px;
    padding-right: 10px;
    color: azure;
    .categorias{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000000;
        border-radius: 150px;
        width: 120px;
        height: 30px;
        a{
            color: azure;
        }
        .material-symbols-outlined{
            font-size: 20px;
            color: azure;
        }
    }
    .login{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000000;
        border-radius: 150px;
        width: 60px;
        height: 30px;
        a{
            color: azure;
        }
    }
    .carrinho{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #000000;
        border-radius: 15px;
        width: 30px;
        height: 30px;
        a{
            color: azure;
            width: 20px;
            height: 20px;
        }
        .material-symbols-outlined {
            color: azure;
            font-size: 20px;
        }
}
}

/*Cabecalho parte-2 pesquisa*/
.pesquisa{
    display: flex;
    flex-flow: row nowrap;
    width: 200px;
    height: 30px;
    align-items: center;
    justify-content: space-around;
    background-color: #000000;
    border-radius: 20px;
    input{
        width: 150px;
        height: 14px;
        border-radius: 5px;
        border: none;
        color: azure;
    }
    .material-symbols-outlined {
        color: azure;
      font-variation-settings:
      'FILL' 0,
      'wght' 400,
      'GRAD' -25,
      'opsz' 20,
    }
}

@media (max-width:650px){
    .pesquisa{
        width: 30px;
        height: 30px;
        input{
            display: none;
        }
        .material-symbols-outlined {
            color: azure;
            font-size: 20px;
        }
    }
    .parte-1{
        width: 180px;
    }
    .parte-2{
        width: 220px;
    }
    @media (max-width:470px){
        .pesquisa{
            display: none;
            input{
                display: none;
            }
            .material-symbols-outlined {
                color: azure;
                font-size: 20px;
            }
        }
        .parte-1{
            width: 180px;
        }
        .parte-2{
            width: 180px;
        }
    }
}


